API/obj/Debug/net6.0/API.assets.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.RazorAssemblyInfo.cache
Core/obj/Debug/net6.0/Core.assets.cache
Core/obj/Debug/net6.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.exe
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/appsettings.json
API/bin/Debug/net6.0/Core.dll
API/bin/Debug/net6.0/Core.pdb
API/bin/Debug/net6.0/Infrastructure.dll
API/bin/Debug/net6.0/Infrastructure.pdb
API/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
API/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.exe
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/appsettings.json
API/bin/Debug/net6.0/Core.dll
API/bin/Debug/net6.0/Core.pdb
API/bin/Debug/net6.0/Infrastructure.dll
API/bin/Debug/net6.0/Infrastructure.pdb
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/apphost.exe
API/obj/Debug/net6.0/staticwebassets.build.json
API/obj/Debug/net6.0/ref/API.dll
API/obj/Debug/net6.0/refint/API.dll
Core/bin/Debug/net6.0/Core.dll
Core/bin/Debug/net6.0/Core.pdb
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/apphost.exe
API/obj/Debug/net6.0/staticwebassets.build.json
API/obj/Debug/net6.0/ref/API.dll
API/obj/Debug/net6.0/refint/API.dll
Core/bin/Debug/net6.0/Core.dll
Core/bin/Debug/net6.0/Core.pdb
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/Debug/net6.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net6.0/Core.dll
Core/obj/Debug/net6.0/Core.pdb
Core/obj/Debug/net6.0/ref/Core.dll
Core/obj/Debug/net6.0/refint/Core.dll
Infrastructure/bin/Debug/net6.0/Core.dll
Infrastructure/bin/Debug/net6.0/Core.pdb
Infrastructure/bin/Debug/net6.0/Infrastructure.dll
Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.dll
Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net6.0/refint/Infrastructure.dll
API/appsettings.json
API/bin/Debug/net6.0/API.dll
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/appsettings.json
API/bin/Debug/net6.0/Core.dll
API/bin/Debug/net6.0/Core.pdb
API/bin/Debug/net6.0/Infrastructure.dll
API/bin/Debug/net6.0/Infrastructure.pdb
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.pdb
Core/bin/Debug/net6.0/Core.dll
Core/bin/Debug/net6.0/Core.pdb
Core/obj/Debug/net6.0/Core.assets.cache
Core/obj/Debug/net6.0/Core.dll
Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net6.0/Core.pdb
Core/obj/Debug/net6.0/ref/Core.dll
Core/obj/Debug/net6.0/refint/Core.dll
Infrastructure/bin/Debug/net6.0/Core.dll
Infrastructure/bin/Debug/net6.0/Core.pdb
Infrastructure/bin/Debug/net6.0/Infrastructure.dll
Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.dll
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net6.0/refint/Infrastructure.dll
